# የተጠቃሚ ቦት ቶከን (ከBotFather ያግኙ)
BOT_TOKEN=8990822888:AAFrZqLp3PiiIh64-8enDmmdW0wHNN9Mxec

# የአስተዳዳሪ ቦት ቶከን (ከBotFather ያግኙ)
ADMIN_BOT_TOKEN=8641863835:AAFzywP-VD6eX2n69suWRMpbXB8jkvhQy2c

# የአስተዳዳሪ ተጠቃሚዎች የቴሌግራም መታወቂያ (ነጠላ ሰረዝ ይለያቸው)
ADMIN_IDS=8772950809

# የውሂብ ጎታ ፋይል
DATABASE_FILE=marketplace.db
